@use '../_vars.scss' as *;

.desktop__menu{
  position: absolute;
  top: 60px;
  right: 60px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 0 0 20px 20px ;
  border: solid 0.5px  $very-light-pink;
  border-top: none;
  ul{
    padding: 0;
    li{
      list-style: none;
      padding: 10px 0;
      a{
        text-decoration: none;
        color: black;
        padding: 20px;
      }
      a:hover{
        color: $hospital-green;
      }
    }
  }
}