@use '../_vars.scss' as *;

.my-order {
  position: absolute;
  width: 40%;
  height: 100vh;
  top: 50px;
  right: 0px;
  display: grid;
  place-items: start;
  justify-content: center;
  background-color: $text-input-field;
}
.title {
  font-size: $lg;
  margin-bottom: 40px;
}
.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.my-order-content {
  display: flex;
  flex-direction: column;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 12px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: $md;
  font-weight: bold;
}
.order p span:nth-child(2) {
  font-size: $sm;
  color: $very-light-pink;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.shopping-cart figure {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.shopping-cart p:nth-child(2) {
  color: $very-light-pink;
}
.shopping-cart p:nth-child(3) {
  font-size: $md;
  font-weight: bold;
}
.remove__icon{
  cursor: pointer;

  background-color: $remove-light-color;
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
}
.remove__icon:hover{
  background-color: $remove-color;
  -webkit-animation:rotate-90-cw .4s 
  cubic-bezier(.25,.46,.45,.94) both;
  animation:rotate-90-cw .4s cubic-bezier(.25,.46,.45,.94) both;
}

@-webkit-keyframes rotate-90-cw{
  0%{
    -webkit-transform:rotate(0);transform:rotate(0)
  }
  100%{
    -webkit-transform:rotate(90deg);transform:rotate(90deg)
  }}
@keyframes rotate-90-cw{
  0%{
    -webkit-transform:rotate(0);transform:rotate(0)
  }
  100%{
    -webkit-transform:rotate(90deg);transform:rotate(90deg)
  }}