@use '../_vars.scss' as *;

.cards-container {
  margin: 100px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}
.product-card {
  width: 240px;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info figure {
  cursor: pointer;
  margin: 0;
}
.product-info figure img {
  width: 35px;
  height: 35px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: $md;
  margin-top: 0;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: $sm;
  margin-top: 0;
  margin-bottom: 0;
  color: $very-light-pink;
}
.addcart__icon:active{
  -webkit-animation:jello-horizontal .4s both;
  animation:jello-horizontal .4s both;
}

 @-webkit-keyframes jello-horizontal{
  0%{
    -webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)
  }
  30%{
    -webkit-transform:scale3d(1.25,.75,1);
    transform:scale3d(1.25,.75,1)
  }
  40%{
    -webkit-transform:scale3d(.75,1.25,1);
    transform:scale3d(.75,1.25,1)
  }
  50%{
    -webkit-transform:scale3d(1.15,.85,1);
    transform:scale3d(1.15,.85,1)
  }
  65%{
    -webkit-transform:scale3d(.95,1.05,1);
    transform:scale3d(.95,1.05,1)
  }
  75%{
    -webkit-transform:scale3d(1.05,.95,1);
    transform:scale3d(1.05,.95,1)
  }
  100%{
    -webkit-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1)
  }
}
@keyframes jello-horizontal{
  0%{
    -webkit-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1)
  }
  30%{
    -webkit-transform:scale3d(1.25,.75,1);
    transform:scale3d(1.25,.75,1)
  }
  40%{
    -webkit-transform:scale3d(.75,1.25,1);
    transform:scale3d(.75,1.25,1)
  }
  50%{
    -webkit-transform:scale3d(1.15,.85,1);
    transform:scale3d(1.15,.85,1)
  }
  65%{
    -webkit-transform:scale3d(.95,1.05,1);
    transform:scale3d(.95,1.05,1)
  }
  75%{
    -webkit-transform:scale3d(1.05,.95,1);
    transform:scale3d(1.05,.95,1)
  }
  100%{
    -webkit-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1)
  }
}

@media (max-width: 640px) {
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }
}
